<div class="container mt-3">
  <div class="d-flex flex-wrap" id="partone">
    <p>
      Selecciona tu tipo de linea de transmision:
      <select title="linea" name="linea" id="linea" [(ngModel)]="linea">
        <option value="0">Cable coaxial</option>
        <option value="1">Línea bifilar</option>
        <option value="2">Microcinta</option>
      </select>
    </p>
    <p>
      Selecciona el material del dielectrico
      <select
        title="dielectrico"
        name="dielectrico"
        id="dielectrico"
        [(ngModel)]="dielectrico"
      >
        <option value="0">Hielo</option>
        <option value="1">Mica</option>
        <option value="2">Nylon</option>
        <option value="3">Papel</option>
        <option value="4">Plexiglas</option>
        <option value="5">Polietileno</option>
        <option value="6">Polipropileno</option>
        <option value="7">Poliestireno</option>
        <option value="8">Porcelana</option>
        <option value="9">Vidrio Pyrex</option>
        <option value="10">Cuarzo</option>
      </select>
      o ingrese su valor
      <input
        type="number"
        name="dielectricovalor"
        id="dielectricovalor"
        placeholder="0"
        [(ngModel)]="dielectricovalor"
      />
      y su tangente de perdidas
      <input
        type="number"
        name="tangente"
        id="tangente"
        placeholder="0"
        [(ngModel)]="tangentevalor"
      />
    </p>
    <p>
      Selecciona el material del metal conductor
      <select title="metal" name="metal" id="metal" [(ngModel)]="metal">
        <option value="0">Fierro</option>
        <option value="1">Niquel</option>
        <option value="2">Laton</option>
        <option value="3">Zinc</option>
        <option value="4">Tungsteno</option>
        <option value="5">Aluminio</option>
        <option value="6">Oro</option>
        <option value="7">Cobre</option>
        <option value="8">Plata</option>
      </select>
      o ingrese su valor
      <input
        type="number"
        name="metalvalor"
        id="metalvalor"
        placeholder="0"
        [(ngModel)]="metalvalor"
      />
    </p>
    <p>
      μ
      <sub>r</sub>:
      <input type="number" [(ngModel)]="mr" placeholder="0" />
    </p>
    <p>
      Frecuencia:
      <input
        type="number"
        name="frecuencia"
        id="frecuencia"
        placeholder="0"
        [(ngModel)]="frecuencia"
      />
      Hz
    </p>
    <!-- <p>Calcular a partir de: <select
      title="tipoCalculo"
      name="tipoCalculo"
      id="tipoCalculo"
      [(ngModel)]="tipoCalculo"
    >
      <option value="0">Datos de la linea</option>
      <option value="1">Mica</option>
    </select></p> -->
  </div>
  <hr />
  <div class="d-flex flex-wrap text-center" id="parttwo">
    <div class="col-12 col-md-6">
      <h1>{{ lineas[linea] }}</h1>
      <!-- Coaxial -->
      <div *ngIf="linea == 0">
        <img
          src="../assets/images/coaxp.png"
          title="Coaxial Line Diagram"
          alt="Coaxial Line Diagram"
          class="h-100"
        />
        <p>
          a:
          <input type="number" [(ngModel)]="coaxialA" placeholder="0" />
          m
        </p>
        <p>
          b:
          <input type="number" [(ngModel)]="coaxialB" placeholder="0" />
          m
        </p>
        <p>
          c:
          <input type="number" [(ngModel)]="coaxialC" placeholder="0" />
          m
        </p>
      </div>
      <!-- Bifilial -->
      <div *ngIf="linea == 1">
        <img
          src="../assets/images/bifilial.png"
          title="Bifilial Line Diagram"
          alt="Bifilial Line Diagram"
          class="h-100"
        />
        <p>
          d:
          <input type="number" [(ngModel)]="bifilarD" placeholder="0" />
          m
        </p>
        <p>
          a:
          <input type="number" [(ngModel)]="bifilarA" placeholder="0" />
          m
        </p>
      </div>
      <!-- Microcinta -->
      <div *ngIf="linea == 2">
        <img
          src="../assets/images/microcinta.png"
          title="Microstrip Line Diagram"
          alt="Microstrip Line Diagram"
          class="h-100"
        />
        <p>
          w:
          <input type="number" [(ngModel)]="microW" placeholder="0" />
          m
        </p>
        <p>
          t:
          <input type="number" [(ngModel)]="microT" placeholder="0" />
          m
        </p>
        <p>
          h:
          <input type="number" [(ngModel)]="microH" placeholder="0" />
          m
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <p>
        R:
        <input type="number" [(ngModel)]="R" placeholder="0" />
        Ω/m
      </p>
      <p>
        L:
        <input type="number" [(ngModel)]="L" placeholder="0" />
        H/m
      </p>
      <p>
        C:
        <input type="number" [(ngModel)]="C" placeholder="0" />
        F/m
      </p>
      <p>
        G:
        <input type="number" [(ngModel)]="G" placeholder="0" />
        ℧/m
      </p>
      <p>
        Z <sub>0</sub>:
        <input type="text" [(ngModel)]="impedancia" placeholder="0" />
        Ω
      </p>
      <input
        class="btn btn-primary"
        type="button"
        value="Calcular"
        (click)="calcular()"
      />
    </div>
  </div>
</div>
